{% extends "base.html" %} {% block content %}
<!--<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">NOME DA EMPRESA</label>
        <output name="sumresult">{{empresa.nome}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">CNPJ</label>
        <output name="sumresult">{{empresa.cnpj}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">ENDEREÇO</label>
        <output name="sumresult">{{empresa.endereco}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">TELEFONE</label>
        <output name="sumresult">{{empresa.contato}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">DESCRIÇÃO</label>
        <output name="sumresult">{{empresa.descricao}}</output>
    </div>
</form>-->
<!-- Basic Validation -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <img src="https://www.comunilog.com/sites/default/files/empresas-multinacionales-min-e1490192574587.jpg"
                    class="card-img-top" alt="...">
                <h2>DETALHE DA EMPRESA</h2>
            </div>
            <div class="body">
                <form id="form_validation" method="POST">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="exampleFormControlInput1">NOME DA EMPRESA</label>
                            <output name="sumresult">{{empresa.nome}}</output>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="exampleFormControlInput1">CNPJ</label>
                            <output name="sumresult">{{empresa.cnpj}}</output>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="exampleFormControlInput1">ENDEREÇO</label>
                            <output name="sumresult">{{empresa.endereco}}</output>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="exampleFormControlInput1">TELEFONE</label>
                            <output name="sumresult">{{empresa.contato}}</output>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="exampleFormControlInput1">DESCRIÇÃO</label>
                            <output name="sumresult">{{empresa.descricao}}</output>
                        </div>
                    </div>
                    <div>
                            <a href="/contatos/empresas/{{empresa.id}}/edit/" class="btn btn-primary" role="button">EDITAR</a>
                        <a href="/contatos/empresas/" class="btn btn-primary" role="button">CANCELAR</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Validation -->
{%endblock%}