{% extends "base.html" %} {% block home %}
<div class="col-12 col-md-12 col-lg-12">
    <img src="https://www.comunilog.com/sites/default/files/empresas-multinacionales-min-e1490192574587.jpg" class="card-img-top"
        alt="...">
    <div class="card-body">
        <h5 class="card-title">DETALJHE DA EMPRESA</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
    </div>
</div>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">NOME DA EMPRESA</label>
        <output name="sumresult">{{empresa.nome}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">CNPJ</label>
        <output name="sumresult">{{empresa.cnpj}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">ENDEREÇO</label>
        <output name="sumresult">{{empresa.endereco}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">TELEFONE</label>
        <output name="sumresult">{{empresa.contato}}</output>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">DESCRIÇÃO</label>
        <output name="sumresult">{{empresa.descricao}}</output>
    </div>
</form>
{%endblock%}